@import  "uikit/src/scss/variables-theme.scss";
@import "uikit/src/shttps://odyssey.wildcodeschool.com/solutions/96226css/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";


.homepage-Article {
  height: 11em;
  overflow: hidden;
  text-align: left;
  line-height: 1.3em;
}

.not-displayed{
  display: none;
}

