<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>

        {% include 'navbar.html.twig' %}
        <ul class="uk-breadcrumb">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li class="uk-disabled"><a>Disabled</a></li>
            <li><span>Active</span></li>
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}



    </body>
</html>
